{% extends "base.html" %}
{% block title %}Articles by {{ author }}{% endblock %}

{% block content %}
<article class="body">
  <h1>About</h1>
  <p>Hello! I'm {{ author }}. I created the blog to share knowledge in embedded systems, digital design, and automotive tech.
  This space is for students, engineers, and anyone curious about electronics. Enjoy your learning journey!</p>

</article>
<article class="body">
  <h2>Professional Background</h1>
  <p>
    I am currently pursuing a BSc in Electrical Engineering at Budapest University of Technology and Economics. With a strong foundation in programming, embedded systems, digital design, and computer architecture, I strive to bridge theory and practice. My goal is to contribute to innovative projects that shape the future of technology.  
    <strong>Tech stacks:</strong> Assembly, MISRA C, C++, Python, SystemVerilog
    </p>
</article>

<article class="body">
  <h2>Articles by {{ author }}</h2>
  <ul>
    {% for article in articles %}
      <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
</article>
{% endblock %}
